@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;600');

.Left {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-content-up{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .left-content-down{
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7vw;
} */
