.App{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
